<a href="https://colab.research.google.com/github/bmatore/inft6201/blob/main/Data_Analysis_Report_Group_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 20}) # Increase fontsize

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df_accidents = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ny_accidents.csv", na_values='?')

In [7]:
df_accidents.head(5)

   Unnamed: 0         ID  ...  Nautical_Twilight Astronomical_Twilight
0      237351  A-2953957  ...              Night                 Night
1      237362  A-2953968  ...              Night                 Night
2      237365  A-2953971  ...                Day                   Day
3      237402  A-2954008  ...              Night                 Night
4      237423  A-2954030  ...                Day                   Day

[5 rows x 48 columns]

In [8]:
df_accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39537 entries, 0 to 39536
Data columns (total 48 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             39537 non-null  int64
 1   ID                     39537 non-null  object
 2   Severity               39537 non-null  int64
 3   Start_Time             39537 non-null  object
 4   End_Time               39537 non-null  object
 5   Start_Lat              39537 non-null  float64
 6   Start_Lng              39537 non-null  float64
 7   End_Lat                39537 non-null  float64
 8   End_Lng                39537 non-null  float64
 9   Distance.mi.           39537 non-null  float64
 10  Description            39537 non-null  object
 11  Number                 11845 non-null  float64
 12  Street                 39537 non-null  object
 13  Side                   39537 non-null  object
 14  City                   39529 non-null  object
 15  County                 39537 non-null  object
 16  State                  39537 non-null  object
 17  Zipcode                39537 non-null  object
 18  Country                39537 non-null  object
 19  Timezone               39537 non-null  object
 20  Airport_Code           39471 non-null  object
 21  Weather_Timestamp      39225 non-null  object
 22  Temperature.F.         39147 non-null  float64
 23  Wind_Chill.F.          38074 non-null  float64
 24  Humidity...            39137 non-null  float64
 25  Pressure.in.           39162 non-null  float64
 26  Visibility.mi.         39131 non-null  float64
 27  Wind_Direction         38598 non-null  object
 28  Wind_Speed.mph.        38349 non-null  float64
 29  Precipitation.in.      37594 non-null  float64
 30  Weather_Condition      39194 non-null  object
 31  Amenity                39537 non-null  bool
 32  Bump                   39537 non-null  bool
 33  Crossing               39537 non-null  bool
 34  Give_Way               39537 non-null  bool
 35  Junction               39537 non-null  bool
 36  No_Exit                39537 non-null  bool
 37  Railway                39537 non-null  bool
 38  Roundabout             39537 non-null  bool
 39  Station                39537 non-null  bool
 40  Stop                   39537 non-null  bool
 41  Traffic_Calming        39537 non-null  bool
 42  Traffic_Signal         39537 non-null  bool
 43  Turning_Loop           39537 non-null  bool
 44  Sunrise_Sunset         39529 non-null  object
 45  Civil_Twilight         39529 non-null  object
 46  Nautical_Twilight      39529 non-null  object
 47  Astronomical_Twilight  39529 non-null  object
dtypes: bool(13), float64(13), int64(2), object(20)
memory usage: 11.0+ MB

In [9]:
df_accidents.describe()

         Unnamed: 0      Severity  ...  Wind_Speed.mph.  Precipitation.in.
count  3.953700e+04  39537.000000  ...     38349.000000       37594.000000
mean   7.543609e+05      2.282900  ...         9.132535           0.005389
std    3.307301e+05      0.642619  ...         5.870588           0.027952
min    2.373510e+05      1.000000  ...         0.000000           0.000000
25%    4.998200e+05      2.000000  ...         5.000000           0.000000
50%    7.266940e+05      2.000000  ...         8.000000           0.000000
75%    9.178200e+05      2.000000  ...        13.000000           0.000000
max    1.515693e+06      4.000000  ...        40.000000           0.830000

[8 rows x 15 columns]